extends _layout
include _navbar

block append head
   +navbarLinkAndScripts()

block append header
   +navbar("Profile")

block append main
   // TODO: Whatever the fuck it is that is meant to be here *shrug*
   p #{user.id}
   p #{user.username}
   p #{user.real_name}
   p #{user.email}
   p #{user.height}
